*{
    font-family: inherit;
}
    body{
        background-color: gainsboro;
    }
        nav{
            min-height: 0px;
        }
            nav.navbar a.navbar-brand img{
                width: 40px;
                color: gainsboro;
            }
            nav.navbar form{
                min-height: 10px;
            }
    div.hero-section{
        background-color: rgb(4, 28, 63);
        text-align: center;
        color: rgb(4, 25, 37);
        margin: 0 0 0 0;
    }
        div.hero-section div.empty{
           min-height: 20px;
        }
        div.hero-section img{
            display: block;
            position: relative;
            margin: 20px 20px 20px 0;
            left: 460px;
        }
        div.hero-section iframe{
            display: inline-block;
            width: 600px;
            min-height: 380px;
        }
    article{
        font-size: 12px;
    }
    section{
        text-align: center;
        margin: 20px 0;
        
    }
        section .row{
          font-size: 10px;  

        }
        ul{
            list-style-type: none;
            display: inline-block;
            text-align: center;
            
            
        }
            ul li{
                background-color: rgba(255,255,255,255);
                border: 1px solid rgba(213,213,213,255);
                border-radius: 10px;
                display: inline-block;
                vertical-align: top;
                width: 240px;
                margin: 5px 20px ;
                padding: 20px;

            }
  
        section img{
            border-radius: 100%;
            width: 100px;
        } 
        h3, h4{
            font-size: 14px;
        }
        span{
            display: block;
            font-size: 12px;
        }
        p{
            text-align: start;
            font-size: 10px;
        } 
    
    div.footer{
        background-color: rgb(21, 21, 27);
        display: block;
        margin: 0 0 0 0;
        width: 1660px;
        text-decoration: none;
        padding: 40px;
        text-align: center;
        color: gray;
        position: relative;
        left: -172px;
    }
        div.footer a{
            text-decoration: none;
            word-spacing: 20px;
            color: gray;
        }
     


        


    